
[Bb]in/
[Oo]bj/

.vs/
*.user
*.suo
*.sln.docstates

packages/
*.nupkg

Thumbs.db
ehthumbs.db
desktop.ini

licenses.licx

*.trx
TestResults/

*.db
*.sqlite
*.sqlite3

*.db-journal
*.db-wal
*.db-shm

!TohumBankasi.db


appsettings.*.json
!appsettings.json